<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Garage Door</h2>
    <form method="POST">
        <div class="grid">
            {% for row in range(4) %}
                {% for col in range(4) %}
                    <label>
                        <input type="checkbox" name="{{ row }}_{{ col }}">
                    </label>
                {% endfor %}
            {% endfor %}
        </div>
        <button type="submit" class="btn">Activate Garage Door</button>
    </form>
</body>
</html>